:root{
    --primary-white: #fff;
    --primary-light-grey: #f4f4f4;
    --primary-grey: #ccd1d9;
    --primary-dark-grey: #666;
    --primary-orange: #f9ab00;
    --primary-dark: rgb(52,58,64);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-black: #000;
    --primary-transparent-black:rgba(0,0,0,.7);
    --primary-green: rgb(0,255,0);
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    box-sizing: border-box;
}

nav{
    z-index: 500;
    background: var(--primary-black);
    /* border-bottom: 1px solid #555; */
}

/* nav ul{
    overflow: hidden;
} */

/* Navbarin kodlari */

.logo{
    width: 4.5rem; 
}

nav a.nav-link{
    font-size: 1.1rem;
    letter-spacing: .0375rem;
    margin: 0 3px;
    color: var(--primary-white) !important;
}

nav ul li{
    text-transform: uppercase;
}
.navbar-nav li a{
    transition: .4s ease ;
    border-top: 0.15rem solid transparent;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
    border-top: 0.15rem solid var(--primary-white);
}
.icon{
    background: transparent;
    border: none;
    outline: none;
    display: none;
    font-size: 36px;
}
.icon:focus{
    outline: none;
}
.fa-bars{
    background: transparent !important;
    color: #fff;
}

@media(max-width: 990px){
    .icon{
        display: block;
    }
}

/* Header kodlari */
.header-wrapper{
    position: relative;
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.main-info{
    position: absolute;
    top: -250px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-info h1{
    color: var(--primary-white);
}
.typed-text{
    font-size: 2rem;
    color: var(--primary-white);
    font-family: 'Inconsolata', monospace;
}


@media(max-width: 768px){
    .main-info h1{
        font-size: 1.7rem !important;
    }
    .typed-text{
        font-size: 1.7rem !important;
    }
}

.downloadcv{
    border: 1px solid var(--primary-white);
    padding: .625rem;
    margin: 4rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--primary-white);
    transition: .4s ease-in-out;
}
.downloadcv:hover{
    text-decoration: none;
    background: var(--primary-white);
    color: var(--primary-black);
    border: 1px solid var(--primary-black);
}

/* AboutMe kodlari */
/* .photo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img{
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 1px solid var(--primary-hover-red);
    padding: .25rem;
    object-fit: cover;
}
.about-heading{
    color: var(--primary-hover-red);
    text-transform: uppercase;
}

@media(max-width:768px){
    .about-heading{
        text-align: center;
        margin-bottom: 20px;
    }
    .p-text{
        text-align: justify;
    }
} */

/* Services kodlari */
.services{
    text-align: center;
    background: var(--primary-light-grey);
    padding-bottom: 2rem;
}
.services h1{
    text-transform: uppercase;
}
.services .circle{
    position: relative;
    margin: .0375rem auto;
    background: var(--primary-orange);
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
.services .circle .icon{
    font-size: 1.4rem;
    color: var(--primary-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.services .box h2{
    margin-top: 2.1rem;
}
.services .box{
    background: var(--primary-white);
    border-bottom: .3125rem solid var(--primary-orange);
    padding: .625rem;
    margin-bottom: 1.875;
    height: 310px;
    transition: all .7s ease-in-out;
}
.services .box:hover{
    cursor: pointer;
    background: var(--primary-orange);
    border-bottom: .3125rem solid var(--primary-dark);
}
.services .box:hover .icon{
    color: var(--primary-dark);
}
.services .box:hover .circle{
    background: var(--primary-white);
}
.services .box:hover p{
    color: var(--primary-white);
}

/* Experience kodlari */
.experience{
    padding: .7rem;
}
.experience-wrapper{
    padding: 3.2rem 0;
    position: relative;
    overflow: hidden;
}
.experience h1{
    text-transform: uppercase;
    color: var(--primary-orange);
}
.experience-wrapper::before{
    content: '';
    width: .125rem;
    height: 100%;
    background: var(--primary-grey);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    margin-left: -0.125rem;
}
.timeline-block{
    width: calc(50% + .5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right{
    float: right;
}
.timeline-block-left{
    float: left;
    direction: rtl;
}
.marker{
    width: 1rem;
    height: 1rem;
    background: var(--primary-orange);
    border: .3125rem solid var(--primary-dark);
    border-radius: 50%;
    z-index: 3;
    margin-top: .625rem;
}
.timeline-content{
    width: 95%;
    direction: ltr;
    padding: 0 .9375rem;
    color: var(--primary-dark-grey);
}

@media(max-width:765px){
    .experience .container{
        padding: 0;
    }
    .experience-wrapper::before{
        left: .5rem;
        margin-bottom: 1.875rem;
    }
    .timeline-block-right{
        float: none;
        width: 100%;
    }
    .timeline-block-left{
        float: none;
        direction: ltr;
        width: 100%;
    }
}

/* ContactUs kodlari */
.contacts{
    background: var(--primary-dark);
    padding: 3rem 0;
}
.contacts h1{
    color: var(--primary-hover-red);

}

/* AboutMe */


.photo-wrap{
    display: flex;
    justify-content: center;

}
.photo-wrap img{
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 1px solid var(--primary-orange);
    padding: .3rem;
    object-fit: cover;
}
.about-heading{
    text-transform: uppercase;
}

@media(max-width:768px){
    .about-heading{
        text-align: center;
    }
    .row{
        gap: 1.2rem;
    }
}


